nav.navbar.navbar-default{
  background-color:transparent;
  font-weight:600;
  font-size:18px;
}

img{
  margin:0 auto;
}

div.col-md-12{
  padding:10px;
}

textarea{
}

textarea{
  color:#222;
}

input{
  color:#222;
}

div.jumbotron{
  background-color:#002649;
}

div#carousel-1.carousel.slide{
  width:60%;
  margin:0 auto;
  margin-top:80px;
}

div.footer{
  padding:10px;
}

input{
}

i.icon{
  font-size:300%;
  padding:10px;
}

div{
  background-repeat:no-repeat;
  background-color:#002649;
  color:#ffffff;
  font-family:cursive;
}

